.custom-volume-input,
.custom-price-input {
    width: 100%; /* Ocupar todo el ancho del <td> */
    text-align: center; /* Centra el texto */
    font-size: 16px; /* Hace el texto más visible */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* Errores */
.error-message {
    font-size: 14px;  /* Letra más compacta */
    padding: 8px;  /* Menos padding */
    margin-top: 10px;  /* Evita espacios grandes */
    max-width: 400px; /* Limita el ancho */
    display: none;  /* Oculto por defecto */
}


.market-table-input {
    width: 100%; /* Ocupar todo el ancho del <td> */
    text-align: center; /* Centra el texto */
    font-size: 16px; /* Hace el texto más visible */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Tablas para interactuar y aceptar una oferta */

#bidsTable tbody,
#asksTable tbody,
#newsTable,
#tradesTable {
    display: table-row-group; /* Restablece la estructura de la tabla */
}

/**/ 
/* table de verde */
/* Título del mensaje */
.message-title-transaction {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #3d2b00; /* Marrón más oscuro */
    margin-bottom: 10px;
}

#trades_container{
    display: table-row-group;
}


/* table de verde de las trnasacciones */

.table_box_transaction {
    width: 100%;
    border-collapse: collapse;
    background: transparent; /* Evita el fondo blanco */
}


.table_box_transaction td {
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.table_box_transaction {
    background: #d4edda; /* Verde claro más suave */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: table-row-group;

}

.table_box_transaction h4 {
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
    font-weight: bold;
}

/* Ocultar la tabla si no hay transacciones */
#tradesTable:empty {
    display: table-row-group;
}



/* PARTE DE MENSAJES*/ 

/* Título del mensaje */
.message-title-news {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #3d2b00; /* Marrón más oscuro */
    margin-bottom: 10px;
}

.table_box_newstable {
    background: #fff3cd; /* Amarillo claro */
    border-left: 5px solid #ff9800; /* Borde naranja para destacar */
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    color: #3d2b00; /* Marrón más oscuro */
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 80%;
    margin: 10px auto;
}


/* OJO table_box afecta a Volumen Precio table*/ 
